.highlight{
	color:#C64C6F;
	font-weight: 600;
}

.item{
	padding-left:30px;
}

.bigger{
	font-size: 150%;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}